.all {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.pokedex {

    position: relative;
    background-image: url(PokedexEntera2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 650px;
    width: 650px;

}

.name {
    text-transform: capitalize;
    font-size: 0.6rem;
    z-index: 4;
    position: absolute;
    left: 94px;
    bottom: 210px;
    color: white;
}

.number {
    position: absolute;
    font-size: 0.7rem;
    color: white;
    z-index: 5;
    top: 190px;
    left: 90px;
}

.description {
    position: absolute;
    width: 200px;
    font-size: 0.6rem;
    color: white;
    z-index: 5;
    top: 155px;
    right: 65px;
    padding: 0.5rem;

}

.sprite {
    z-index: 3;
    
    position: absolute;
    left: 100px;
    top: 185px;
    height: 140px;
    width: 140px;
}